<br/>
<br/>
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" id="nome" name="nome" [(ngModel)]="nome" placeholder="Pesquisa por nome" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="consultarUsuario()">Buscar</button>
  </form>
</nav>
<br/>
<br/>

<table class="table">
  <thead class="thead-dark">
  <th scope="col">ID</th>
  <th scope="col">Login</th>
  <th scope="col">Nome</th>
  <th scope="col">Delete</th>
  </thead>
  <tbody>
  <tr *ngFor="let usuario of usuarios">
    <td>{{ usuario.id }}</td>
    <td>{{ usuario.login }}</td>
    <td>{{ usuario.nome }}</td>
    <td><button (click)="deleteUsuario(usuario.id)" class="btn btn-primary">Delete</button></td>
  </tr>
  </tbody>
</table>
