<br/>
<br/>
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" id="nome" name="nome" [(ngModel)]="nome"
           placeholder="Pesquisa por nome" aria-label="Search">

    <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="consultarUsuario()">Buscar</button>

    <button class="btn btn-primary" type="button" style="margin-left: 5px"
            [routerLink]="['/usuarioAdd']" routerLinkActive="router-link-active">Novo
    </button>

  </form>
</nav>
<br/>
<br/>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
    <th scope="col">ID</th>
    <th scope="col">Login</th>
    <th scope="col">Nome</th>
    <th scope="col">CPF</th>
    <th scope="col">Delete</th>
    <th scope="col">Editar</th>
    </thead>
    <tbody>
    <tr *ngFor="let usuario of usuarios | paginate:{ itemsPerPage:5, currentPage: p, totalItems: total }">
      <td>{{ usuario.id }}</td>
      <td>{{ usuario.login }}</td>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.cpf }}</td>

      <td>
        <button (click)="deleteUsuario(usuario.id)" class="btn btn-primary">Delete</button>
      </td>

      <td>
        <button [routerLink]="['/usuarioAdd', usuario.id]" routerLinkActive="router-link-active"
                class="btn btn-primary">Editar
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-center">
    <pagination-controls (pageChange)="carregarPagina(p = $event)" nextLabel="Próximo" previousLabel="Anterior"
    responsive="true"></pagination-controls>
  </div>
</div>

